<div class="card d-flex">
  <section class="section_form">
    <form id="consultation-form" class="feed-form" action="#">
      <h1 class="border-3 border-dark border-bottom">จัดการหลักเกณฑ์ CBEs</h1>
      <label for="thainame">ชื่อภาษาไทย</label>
      <input
        name="thainame"
        required=""
        placeholder="ชื่อหัวข้อภาษาไทย"
        type="text"
        [(ngModel)]="CBEs.thaiName"
        disabled
      />
      <label for="engname">ชื่อภาษาอังกฤษ</label>
      <input
        name="engname"
        required=""
        placeholder="ชื่อหัวข้อภาษาอังกฤษ"
        type="text"
        [(ngModel)]="CBEs.engName"
        disabled
      />
      <label for="shortname">ตัวย่อ</label>
      <input
        name="shortname"
        required=""
        placeholder="ตัวย่อ"
        type="text"
        [(ngModel)]="CBEs.shortName"
        disabled
      />
      <label for="round">รอบการแก้ไข</label>

      <select name="round">
        <option *ngFor="let round of uniqueRounds" [value]="round">
          {{ round }}
        </option>
      </select>

      <label for="remark">หมายเหตุในการบันทึก</label>
      <div *ngIf="cbesLogHeaders.length > 0">
        <textarea
          name="remark"
          placeholder="หมายเหตุการแก้ไข"
          [(ngModel)]="cbesLogHeaders[cbesLogHeaders.length - 1].remark"
        >
        </textarea>
      </div>
      <small>*ต้องกรอกหมายเหตุก่อนแก้ไข</small>

      <div class="mt-3 border-3 border-dark border-top">
        <div class="d-flex mt-3">
          <h3>หลักเกณฑ์</h3>
          <button class="ms-3 btn btn-sm btn-success mb-3">
            เพิ่มกระบวนการ
          </button>
        </div>

        <!-- Table Processes -->
        <table>
          <thead>
            <tr>
              <th colspan="3">หลักเกณฑ์</th>
              <th>น้ำหนัก</th>
              <th>Maturity level</th>
            </tr>
          </thead>

          <tbody>
            <ng-container *ngFor="let process of CBEs.cbesProcesses">
              <tr>
                <td colspan="3" class="text-start ms-4 level1">
                  {{ process.name }}
                </td>
                <td class="level1">
                  <input
                    class="level1"
                    type="number"
                    placeholder="20"
                    style="width: 75px; text-align: center"
                    [value]="process.weight"
                    disabled
                  />
                </td>
                <td class="level1"></td>
              </tr>

              <ng-container *ngFor="let p of process.inverseProcessHeader">
                <tr>
                  <td class="level2" style="border-right: none"></td>
                  <td
                    colspan="2"
                    class="level2 text-start ms-2"
                    style="border-left: none"
                  >
                    {{ p.name }}
                  </td>
                  <td class="level2">
                    <input
                      type="number"
                      placeholder="20"
                      style="width: 75px; text-align: center"
                      disabled
                    />
                  </td>
                  <td class="level2"></td>
                </tr>

                <ng-container *ngFor="let sp of p.inverseProcessHeader">
                  <tr>
                    <td rowspan="5" style="border-right: none"></td>
                    <td
                      rowspan="5"
                      style="border-right: none; border-left: none"
                    ></td>

                    <td
                      rowspan="5"
                      style="border-left: none; vertical-align: top"
                      class="text-start ms-2"
                    >
                      {{ sp.name }}
                    </td>

                    <td>
                      <input
                        type="number"
                        placeholder="20"
                        style="width: 75px; text-align: center"
                        disabled
                        [value]="sp.weight"
                      />
                    </td>

                    <td>
                      ระดับ 1:
                      <textarea
                        *ngIf="sp.cbesMaturities.length > 0"
                        name="maturity"
                        [(ngModel)]="sp.cbesMaturities[0].detail"
                        style="width: 100%; height: 50px; resize: none"
                        [readonly]="true"
                      ></textarea>
                    </td>
                  </tr>

                  <ng-container
                    *ngFor="let m of sp.cbesMaturities; let idx = index"
                  >
                    <tr *ngIf="idx > 0">
                      <td></td>
                      <td>
                        ระดับ {{ idx + 1 }}:
                        <textarea
                          name="maturity"
                          [(ngModel)]="sp.cbesMaturities[idx].detail"
                          style="width: 100%; height: 50px; resize: none"
                          [readonly]="true"
                        ></textarea>
                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
      </div>
      <div>
        <button>บันทึกและไปหน้าแก้ไขหลักเกณฑ์ CBEs</button>
        <button class="ms-3" (click)="onSubmit()">บันทึก</button>
      </div>
    </form>
  </section>
</div>
