<ng-container *ngIf="isLoading; else loadingTemplate">
  <div class="card d-flex">
    <section class="section_form">
      <form id="consultation-form" class="feed-form" action="#">
        <h1 class="border-3 border-dark border-bottom">จัดการหลักเกณฑ์ CBEs</h1>

        <!-- Thai Name Input -->
        <label for="thainame">ชื่อภาษาไทย</label>
        <input
          id="thainame"
          name="thainame"
          type="text"
          [(ngModel)]="cbe.thaiName"
          required
          placeholder="กรอกชื่อภาษาไทย"
        />

        <!-- English Name Input -->
        <label for="engname">ชื่อภาษาอังกฤษ</label>
        <input
          id="engname"
          name="engname"
          type="text"
          [(ngModel)]="cbe.engName"
          required
          placeholder="กรอกชื่อภาษาอังกฤษ"
        />

        <!-- Short Name Input -->
        <label for="shortname">ตัวย่อ</label>
        <input
          id="shortname"
          name="shortname"
          type="text"
          [(ngModel)]="cbe.shortName"
          required
          placeholder="กรอกตัวย่อ"
        />

        <!-- Round Selection -->
        <label for="round">รอบการแก้ไข</label>
        <select id="round" name="round" [(ngModel)]="currentRound">
          <option *ngFor="let round of rounds" [value]="round">
            {{ round }}
          </option>
        </select>

        <!-- Remark Textarea -->
        <label for="remark">หมายเหตุในการบันทึก</label>
        <textarea
          id="remark"
          name="remark"
          [(ngModel)]="remark"
          placeholder="หมายเหตุการแก้ไข"
        ></textarea>
        <small>*ต้องกรอกหมายเหตุก่อนแก้ไข</small>

        <div class="mt-3 border-3 border-dark border-top">
          <div class="d-flex mt-3">
            <h3>หลักเกณฑ์</h3>
            <button class="ms-3 mb-3" (click)="addProcess()">
              เพิ่มกระบวนการ
            </button>
          </div>

          <table>
            <thead>
              <tr>
                <th>กระบวนการ</th>
                <th>ประเด็น</th>
                <th>ประเด็นย่อย</th>
                <th>น้ำหนัก</th>
                <th>จัดการ</th>
              </tr>
            </thead>
            <tbody>
              <!-- Level 1 -->
              <ng-container *ngFor="let process of cbe.cbesProcesses">
                <tr *ngIf="!process.isDeleted">
                  <td>
                    <textarea
                      placeholder="level 1"
                      matInput
                      [(ngModel)]="process.name"
                      name="processName"
                      [ngModelOptions]="{ standalone: true }"
                    ></textarea>
                  </td>
                  <td></td>
                  <td></td>
                  <td>
                    <input
                      type="number"
                      style="width: 75px; text-align: center"
                      placeholder="น้ำหนัก"
                      [(ngModel)]="process.weight"
                      [ngModelOptions]="{ standalone: true }"
                    />
                  </td>
                  <td>
                    <button (click)="deleteProcess(process)">ลบ</button>
                    <button (click)="addChildProcess(process)">
                      เพิ่มประเด็น
                    </button>
                  </td>
                </tr>

                <!-- Level 2 -->
                <ng-container *ngFor="let p of process.inverseProcessHeader">
                  <tr *ngIf="!p.isDeleted">
                    <td></td>
                    <td>
                      <textarea
                        placeholder="level 2"
                        matInput
                        [(ngModel)]="p.name"
                        name="subName"
                        [ngModelOptions]="{ standalone: true }"
                      ></textarea>
                    </td>
                    <td></td>
                    <td>
                      <input
                        type="number"
                        style="width: 75px; text-align: center"
                        placeholder="น้ำหนัก"
                        [(ngModel)]="p.weight"
                        [ngModelOptions]="{ standalone: true }"
                      />
                    </td>
                    <td>
                      <button (click)="deleteProcess(p)">ลบ</button>
                      <button (click)="addChildProcess(p)">เพิ่มประเด็น</button>
                    </td>
                  </tr>

                  <!-- Level 3 -->
                  <ng-container *ngFor="let sp of p.inverseProcessHeader">
                    <tr *ngIf="!sp.isDeleted">
                      <td></td>
                      <td></td>
                      <td>
                        <textarea
                          placeholder="level 3"
                          matInput
                          [(ngModel)]="sp.name"
                          name="subProcessName"
                          [ngModelOptions]="{ standalone: true }"
                        ></textarea>
                      </td>
                      <td>
                        <input
                          type="number"
                          style="width: 75px; text-align: center"
                          placeholder="น้ำหนัก"
                          [(ngModel)]="sp.weight"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </td>
                      <td>
                        <button (click)="deleteProcess(sp)">ลบ</button>
                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
              </ng-container>
            </tbody>
          </table>

          <div class="d-flex mt-3 mb-3">
            <button style="width: fit-content" (click)="onSave2Maturity()">
              บันทึกและไปกำหนด Maturity
            </button>
            <button (click)="onSubmit()">บันทึก</button>
          </div>
        </div>
      </form>
    </section>
  </div>
</ng-container>

<ng-template #loadingTemplate>
  <loading-page />
</ng-template>
