html,
body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-shadow: white;
}

.navbar.fixed-top {
  z-index: 0; /* Ensures the navbar stays on top */
}

.navbar .dropdown-menu {
  z-index: 0; /* Ensures dropdown menus appear above the navbar */
}
